/*--------- optionBoard's color ---------*/

select option[value="0"]{
    background-color: rgb(255, 255, 102);
}

select option[value="1"]{
    background-color: rgb(153, 204, 255);
}

select option[value="2"]{
    background-color: rgb(255, 102, 102);
}

select option[value="3"]{
    background-color: rgb(153, 255, 153);
}
/* ---------------------------------------- */

/* --------selectBoard's color--------- */

.yellowBoxColor{
    background-color: rgb(255, 255, 102);
    color: black;
    font-weight: bolder;
}
.blueBoxColor{
    background-color: rgb(153, 204, 255);
    color: black;
    font-weight: bolder;
}
.redBoxColor{
    background-color: rgb(255, 102, 102);
    color: black;
    font-weight: bolder;
}
.greenBoxColor{
    background-color: rgb(153, 255, 153);
    color: black;
    font-weight: bolder;
}
/* ---------------------------------------- */

/* --------always show spin-button--------- */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}
/* ---------------------------------------- */

/* -----change cursor for click even----------------- */
#arrowUp:hover {
    cursor:pointer;
}
#arrowDown:hover {
    cursor:pointer;
}
#arrowLeft:hover {
    cursor:pointer;
}
#arrowRight:hover {
    cursor:pointer;
}
/* ---------------------------------------- */


select{
    text-align: center;
    padding: 0.2rem;
}


.text-Cen-bold{
    text-align: center;
    font-weight: bolder;
}

.gameRule{
    width: 40px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}
button{
    margin-right: 5px;
    box-shadow: none !important ;
    text-align: center;
    margin: 0.2rem;
}

#start{
    background-color: #198754;
}
#reset-Game{
    background-color: #dc3545;
}


    

#pause{
    color: white;
}
#next{
    color: white;
}
th{
    font-weight:bold;
}
td{
    font-weight: bold;
}


#buttonContainer{
    flex-wrap: wrap !important;
    justify-content: center;
}

.d-flex-Cen {
    display: flex;
    justify-content: center;
}

#gamePage {
    padding-top: 1vh;
}


#homePageIcon {
    text-align: center;
    margin-bottom: 1rem;
}

.homeIcon {
    font-size: 2rem;
}

#homePageIcon>a>i {
    color: black;
}

#homePageIcon>a>i:hover {
    color: cornflowerblue
}


@media only screen and (max-width: 480px) {
    .homeIcon {
        font-size: 4rem;
    }
}

@media  (max-width: 400px) {
    #buttonContainer>button { 
      flex: 1;
    }
}


.bi-pause::before {
    transform: rotate(90deg);
}

.bi::before {
    font-weight: bold !important;
}

body {
    /* background-image: url('https://img.freepik.com/free-vector/blue-white-low-poly-triangle-shapes-background_1035-19007.jpg?w=1380'); */
    /* background-size: 100% 100%; */
    background-color: grey;
    
}

#keyBroadControl{
    margin-top: 1vh;
    font-weight: bold;
    font-family: 'VT323', monospace;
    font-size: 2rem;
}

.beCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.arrowClick{
    flex-wrap: wrap;
}

tbody{
    background-color: white;
    padding: 0.1rem;
}