/* font-family: 'VT323', monospace;
font-family: 'Common Pixel', sans-serif */

body {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;


}


#title {
    color: #03A062;
    font-family: 'VT323', monospace;
    left: 45%;
    top: 50%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title1 {
    font-size: 10vh;
}

.title2 {
    font-size: 5vh;
    text-align: center;
}

#landingPageMenu {
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.option {
    font-size: 7vh;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.5);

}

.option:hover {
    border: 0.5rem solid;
    cursor: pointer;
}

.clickOption {
    border: 0.5rem solid;
}





@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-flicker {
    -webkit-animation: flickerAnimation .3s infinite;
    -moz-animation: flickerAnimation .3s infinite;
    -o-animation: flickerAnimation .3s infinite;
    animation: flickerAnimation .3s infinite;
    color: aqua;
}


