/* font-family: 'VT323', monospace;
font-family: 'Common Pixel', sans-serif */

body {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

#portfolio {
    width: 50%;
    height: 85%;
    /* border: 2px #03A062 solid; */
    display: flex;
    flex-direction: column;
    color: #03A062;
    font-family: 'VT323', monospace;
    font-size: 2rem;
}

.data {
    margin: 8vh;
    margin-bottom: 0px;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

#name {
    font-size: 1.5rem;
    font-family: 'Common Pixel', sans-serif;
}


#head {
    display: flex;



}

@media (max-width: 1540px) {
    .data {
        justify-content: center;
    }
}


@media (max-width: 1440px) {
    #head .photo {
        justify-content: center;
    }
}

@media (max-width: 1126px) {
    .data {
        margin-left: 4vh;
        margin-right: 4vh;
        /* justify-content: center; */
    }
    #portfolio {
        width: 50%;
        height: 90%;
    }
}

@media (max-width: 758px) {
    #portfolio {
        width: 80%;
        height: 90%;
    }
    #head .photo {
        padding: 1vh;
    }
}

@media (max-width: 520px) {
    #portfolio {
        width: 80%;
        height: 100%;
    }
    #head .photo {
        padding: 0vh;
    }
}


#back {
    display: flex;
    justify-content: center;
    font-size: 5vh;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    /* border: 0.5rem solid rgba(0, 0, 0, 0.5); */
    margin-top: 2vh;


}

#back:hover {
    /* border: 0.5rem solid ; */
    cursor: pointer;
}




@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-flicker {
    -webkit-animation: flickerAnimation .3s infinite;
    -moz-animation: flickerAnimation .3s infinite;
    -o-animation: flickerAnimation .3s infinite;
    animation: flickerAnimation .3s infinite;
    color: aqua;
}


.clickBack{
    border:0.5rem solid aqua ;

}


